AUTHOR = "Chris Evich <cevich@redhat.com>"
DOC = "Runs various tests for Docker"
NAME = "Docker"
TIME = "SHORT"
TEST_TYPE = "CLIENT"
# timeout in seconds
TIMEOUT = 600

##############################################################################
import sys, imp, os, os.path, logging, time

def find_subtests(control_path):
    """
    Descent search into subtests for all modules matching their directory name.
    """
    subtests = []
    logging.info("Searching for docker subtests")
    subtest_path = os.path.join(control_path, 'subtests')
    # All subtest packages located beneath dir holding this control file
    for dirpath, dirnames, filenames in os.walk(subtest_path):
        del dirnames  #  Not used
        # Skip top-level
        if dirpath == subtest_path:
            continue
        # Subtest module must have same name as basename
        basename = os.path.basename(dirpath)
        # test.test class must be in module named same as directory
        modname = basename + '.py'
        if modname in filenames:
            # 3rd item is dir relative to job.testdir
            url = dirpath.partition(job.testdir)[2]
            # job.testdir doesn't include trailing '/'
            url = url.lstrip('/')
            logging.info("Found docker subtest module %s", url)
            subtests.append(url)
    return subtests

def step_init():
    """
    Entry-point & stepengine enable signal to load/run all or --args subtests.
    """
    # Several calls need directory containing this control file
    control_path = os.path.dirname(job.control)
    # job --args string is CSV of custom subtest list
    if len(job.args) > 0:
        names = job.args[0].split(',')
        subtest_basename = os.path.join(os.path.basename(control_path),
                                                         'subtests')
        subtests = [os.path.join(subtest_basename, name) for name in names]
    else:  # no --args specified, run all subtests found
        subtests = find_subtests(control_path)
    # no need to calculate this every loop
    total = len(subtests)
    # Every step must be pickleable: use wrapper function + arguments
    for index, url in enumerate(subtests):
        tag = "test_%s-of-%s" % (index + 1, total)
        job.next_step(run_test, control_path, url, tag, TIMEOUT)

def get_doc_version(control_path):
    """
    Parse version string from conf.py module w/o importing it.
    """
    version = None
    # Prevent documentation-generation mocks from clashing with testing
    for line in open(os.path.join(control_path, 'conf.py'), 'rb'):
        if line.startswith('version ='):
            version = line.split("'")[1]
    return version

def run_test(control_path, url, tag, timeout):
    """
    Wrapper function around job.run_test() and setup for subtest namespace.
    """
    # Threads are/may be in use, so be careful with this stuff...
    imp.acquire_lock()
    dockertest = imp.load_module('dockertest',
                                 *imp.find_module('dockertest', [control_path]))
    # Hold reference to module so subtests may use it
    sys.modules['dockertest'] = dockertest  # dockertest deleted below
    # Modules in packages not automatically loaded
    version = imp.load_module('dockertest.version',
                              *imp.find_module('version',
                              dockertest.__path__))
    sys.modules['dockertest.version'] = version  # version deleted below
    imp.release_lock()

    # Get docs version for comparison so modules can be unloaded
    doc_version = get_doc_version(control_path)
    api_version = version.STRING
    # This must happen here since subtests MUST NOT access docs conf.py
    doc_eq_api = version.compare(api_version, doc_version) == 0

    # Get rid of local references, so they may be cleaned from sys.modules later
    imp.acquire_lock()
    # hold onto sys.modules['dockertest'] for subtest use
    del dockertest  # not needed here anymore
    del version     # this one too
    del sys.modules['dockertest.version'] #  Not needed here anymore
    imp.release_lock()

    # Docs version mismatch is not fatal, but annoying. Make sure it's annoying.
    if not doc_eq_api:
        logging.error("")
        logging.error("Test API version %s does not match "
                      "Documentation version %s.  Update "
                      "documentation content, then adjust it's "
                      "version string in '%s' and commit",
                      api_version, doc_version, 'conf.py')
        logging.error("")
        # make sure it error gets read
        time.sleep(10)

    # Run the subtest module through autotest job interface
    try:
        job.run_test(url=url, tag=tag, timeout=timeout)
    # Guarantee cleanup of any docker related modules
    finally:
        imp.acquire_lock()
        # Filter by internal module name, not sys.modules key.
        modnames = [modname for (modname, module) in sys.modules.items()
                    if module is not None and module.__name__.count('docker')]
        for modname in modnames:
            del sys.modules[modname]
        imp.release_lock()
